.promo {
    background: #073042;
    padding: 80px 70px 75px;
}

.promo__container {
 display: flex;
}

.promo__content {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: flex-start;
}

.promo__left-item-title {
    font-weight: 400;
    font-size: 50px;
    line-height: 1.2; 
    color: #FFFFFF;
    margin: 0;
}

.promo__left-item-description {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.2;   
    color: #FFFFFF;   
    mix-blend-mode: normal;
    opacity: 0.5;
    max-width: 310px;
    margin: 32px 0 145px;
}

.promo__left-item-link {
    text-decoration: none;
    max-width: 130px;
    max-height: 36px;
    border: 1px #FFFFFF solid;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    align-items: center;
    color: #FFFFFF;
    padding: 10px 20px;
}

@media screen and (max-width: 989px) {
    .promo {
        padding: 140px 45px 75px;
    }
    .promo__container {
       flex-direction: column-reverse;
       align-items: center;
       gap: 48px;

       }
    .promo_img {
        max-width: 310px;
        max-height: 304px;
    }
    .promo__content {
        align-items: center;
        text-align: center;
    }
    .promo__left-item-title {
        font-size: 40px;
    }
    .promo__left-item-description {
        margin: 22px 0 92px;
    }
}

@media screen and (max-width: 451px) {
    .promo {
        padding: 70px 10px 30px;
    }
    .promo__left-item-title {
        font-size: 30px;
    }
    .promo__container {
        gap: 44px;
    }
    .promo__left-item-description {
        margin: 24px 20px 80px;
    }
    .promo_img {
        max-width: 210px;
        max-height: 206px;
    }
}