input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
-webkit-text-fill-color: #FFFFFF;
-webkit-box-shadow: 0 0 0px 1000px #202020 inset;
transition: #FFFFFF 5000s ease-in-out 0s;
}

.animation-link {
    cursor: pointer;
    transition: all .2s linear;
}

.animation-link:hover {
    opacity: .7;
    transform: translateY(-1px);
}

.animation-btn {
    cursor: pointer;
    transition: all .2s ease;
}

.animation-btn:hover {
    opacity: .9;
}

.animation-btn:active {
    transform: translateX(-1px) translateY(2px);
}

.startpage-block__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin: 0 0 23px;
}

.Toastify__toast-theme--dark {
    --toastify-color-dark : #272727 ;
    --toastify-font-family : 'Inter', Arial, sans-serif ;
}

@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);