.navtab {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.navtab__pages {
    display: flex;
    gap: 20px;
}

.navtab__link {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-align: right;
    color: #FFFFFF;
}

.navtab__link-account {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    border: 2px solid rgba(170, 170, 170, 0.2);
    border-radius: 50px;
    padding: 8px 12px 8px 31px;
    text-decoration: none;
    position: relative;
}

.navtab__link-account::before {
    background-image: url(../../images/account-icon.svg);
    content: '';
    position: absolute;
    width: 12px;
    height: 14px;
    top: 25%;
    left: 10%;
}

.burger {
    height: 20px;
    position: relative;
    width: 30px;
    border: none;
    background: rgba(0, 0, 0, 0);
  }
  
  .burger-line {
    display: flex;
    width: 30px;
    height: 3px;
    background: #4d4244;
    transition: 0.3s all ease;
  }
  
  .top-line {
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .middle-line {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
  
  .bottom-line {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  
  .burger.active > .top-line {
    transform: translateY(7px) rotate(45deg);
    transition: 0.3s all ease;
  }
  
  .burger.active > .middle-line {
    opacity: 0;
    transition: 0.3s all ease;
  }
  
  .burger.active > .bottom-line {
    transform: translateY(-10px) rotate(-45deg);
    transition: 0.3s all ease;
  }